<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  </div>
</nav>


<div style="text-align:left">
  <h3>
    Welcome to {{title}}!
  </h3>
  <hr>
  <button [disabled]="listo" (click)="hacerAlgo()">Click me!</button>
  <hr>
  <p-dropdown [options]="cities" [(ngModel)]="selectedCity" [filter]="true" filterBy="label,value.name" (ngModelChange)="onChange($event)"></p-dropdown>
  <hr>
  <agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>
  <hr />
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2>Lugares Cercanos</h2>
        <ul class="list-group">
          <ng-container *ngFor="let lugar of lugares">
            <li class="list-group-item" *ngIf="lugar.active">{{lugar.nombre}}</li>
          </ng-container>
        </ul>
      </div>
      <div class="col-md-4">
        <h2>Destacados</h2>
      </div>
    </div>
  </div>
  <ul>
    <ng-container *ngFor="let lugar of lugares; let i = index" [ngSwitch]="lugar.cercania">
      <a>
        <li contar-clicks [ngStyle]="{color: (lugar.active) ? 'black' : 'gray'}" [ngClass]="{numero_par: (i+1) % 2 !== 0}" [resaltar]="lugar.plan">

          {{lugar.nombre}} -
          <span *ngSwitchCase="1" [ngStyle]="{color: 'green'}">Muy Cercano</span>
          <span *ngSwitchCase="2" [ngStyle]="{color: 'black'}">Cercano</span>
          <span *ngSwitchCase="3" [ngStyle]="{color: 'red'}">Lejano</span>
        </li>
      </a>
    </ng-container>
  </ul>
</div>
